<html>
<head>
  <title>wow</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <script src="app/bower_components/jquery/jquery.js"></script>
  <script src="app/bower_components/underscore/underscore.js"></script>
  <script src="app/bower_components/backbone/backbone.js"></script>
  <script src="app/bower_components/backbone.marionette/lib/backbone.marionette.js"></script>
  <script src="app/bower_components/handlebars/handlebars.js"></script>
  <script src="javascripts/config/marionette.handlebars.js"></script>
  <script src="javascripts/config/async.js"></script>
</head>
<body>
  <div id="wrapper">
    <header class="header"></header>
    <section class="main-region"></section>
    <footer class="footer"></footer>
  </div>
  <div id="fb-root"></div>
  <script src="javascripts/app.js"></script>
  <script src="javascripts/entities/user.js"></script>
  <script src="javascripts/apps/user/login_view.js"></script>
  <script src="javascripts/apps/user/login_controller.js"></script>
  <script src="javascripts/apps/user/show_view.js"></script>
  <script src="javascripts/apps/user/show_controller.js"></script>
  <script src="javascripts/apps/header/header_controller.js"></script>
  <script src="javascripts/apps/header/header_view.js"></script>
  <script src="javascripts/apps/footer/footer_controller.js"></script>
  <script src="javascripts/apps/footer/footer_view.js"></script>
  <script src="javascripts/apps/user/router.js"></script>
</body>
</html>